In [3]:
import pandas as pd

In [4]:
data=pd.read_csv('Rawdata_withClusterLabels.csv')
data.head(2)

,user_id,username,age,status,sex,orientation,drinks,drugs,height,job,...,language,new_languages,body_profile,education_level,dropped_out,bio,interests,other_interests,location_preference,cluster_labels
0,fffe3100,Edith Lopez,27,single,f,gay,socially,never,66,medicine / health,...,"english (fluently), spanish (poorly), sign lan...",interested,athletic,4,no,bottom line i love life! i work hard and i lov...,sports,instruments,same state,2
1,fffe3200,Travis Young,26,single,m,gay,socially,never,68,other,...,"english (fluently), tagalog (okay), french (po...",interested,fit,3,no,"i'm a straightforward, genuine, fun loving (i'...",painting,instruments,anywhere,0

In [5]:
data['age']=data['age'].apply(lambda x: 58 if x>58 else x)

In [6]:
data['drinks']=data['drinks'].apply(lambda x:'rarely' if x=='very often' else ('often' if x=='desperately' else x))

In [7]:
data['drugs']=data['drugs'].apply(lambda x: 'sometimes' if x=='often' else x)

In [8]:
data['job']=data['job'].apply(lambda x:'science / tech / engineering' if x=='computer / hardware / software'
                                       else('other' if (x=='rather not say' or x=='unemployed' or x=='retired' or x=='military' or
                                                       x=='transportation' or x=='political / government' or x=='clerical / administrative'
                                                       or x=='hospitality / travel'  or x=='construction / craftsmanship' or x=='law / legal services')
                                           else x)
                                       )

In [9]:
data['location']=data['location'].apply(lambda x: x.split(', ')[0])

In [10]:
data['smokes']=data['smokes'].apply(lambda x: 'sometimes' if x=='when drinking' or x=='trying to quit' else x)

In [11]:
data['body_profile']=data['body_profile'].apply(lambda x:'skinny' if (x=='skinny' or x=='thin' or x=='used up')
                                                       else('athletic' if(x=='athletic' or x=='jacked') 
                                                       else('fit' if (x=='average' or x=='fit')
                                                       else('above average' if (x=='curvy' or x=='full figured' or x=='a little extra')else 'fat'))))

In [12]:
data['status']=data['status'].apply(lambda x:'single' if x=='single' else 'other')

In [14]:
data['interest']=data['interests'].apply(lambda x:'music' if x=='music' or x=='singinig' or x=='instruments' or x=='dance'
                                             else('artist' if x=='calligraphy' or x=='diy' or x=='painting' or x=='sketching' or x=='designing' or x=='craft' 
                                             else('game_video' if x=='video games' or x=='social_networking'
                                             else ('outdoor' if x=='fishing' or x=='sports' or x=='yoga' or x=='camping'
                                             else('movies' if x=='movies' or x=='acting' or x=='makeup'
                                             else ('read/write' if x=='reading' or x=='writting' else x))))))

In [15]:
top_20_locations=data['location'].value_counts()[:20]
data['location']=data['location'].apply(lambda x: x if x in top_20_locations else "other")

In [16]:
data['age']=data['age'].apply(lambda x:'18-30' if x<=30 else('31_40' if x>30 and x <=40 else('41_50' if x>40 and x<=50 else '50+')))

In [17]:
data.to_csv('preprocessed_data_for_visualization.csv')