In [1]:
import pandas as pd

In [2]:
# data=pd.read_csv('Rawdata_withClusterLabels.csv')
data=pd.read_csv('data.csv')
data.head(2)
data.drop(['user_id','username'],axis=1,inplace=True)

In [3]:
data.head()

,age,status,sex,orientation,drinks,drugs,height,job,location,pets,smokes,language,new_languages,body_profile,education_level,dropped_out,bio,interests,other_interests,location_preference
0,27,single,f,gay,socially,never,66.0,medicine / health,"oakland, california",likes dogs and likes cats,no,"english (fluently), spanish (poorly), sign lan...",interested,athletic,4.0,no,bottom line i love life! i work hard and i lov...,sports,instruments,same state
1,26,single,m,gay,socially,never,68.0,other,"pleasant hill, california",likes dogs,no,"english (fluently), tagalog (okay), french (po...",interested,fit,3.0,no,"i'm a straightforward, genuine, fun loving (i'...",painting,instruments,anywhere
2,20,seeing someone,f,bisexual,socially,sometimes,69.0,other,"oakland, california",has dogs and likes cats,sometimes,"english (fluently), sign language (poorly), fr...",interested,fit,2.0,no,mmmmm yummy tacosss. yoga is where it's at. i ...,instruments,dancing,same city
3,27,single,m,bisexual,socially,sometimes,68.0,computer / hardware / software,"daly city, california",likes dogs and likes cats,no,english,not interested,average,3.0,no,i'm a stealth geek. that special mix of techni...,sketching,acting,same city
4,22,single,f,bisexual,often,sometimes,68.0,other,"oakland, california",likes dogs and likes cats,yes,english,not interested,average,2.0,yes,with the whisper of the wind i was weaved into...,craft,designing,same city

In [32]:
data['age']=data['age'].apply(lambda x: 58 if x>58 else x)
data['age']=data['age'].apply(lambda x:'18-30' if x<=30 else('31_40' if x>30 and x <=40 else('41_50' if x>40 and x<=50 else '50+')))
dummies=pd.get_dummies(data['age'],drop_first=True)
data=pd.concat([data,dummies],axis=1)
data.drop('age',axis=1,inplace=True)

In [33]:
data.columns

Index(['status', 'sex', 'orientation', 'drinks', 'drugs', 'height', 'job',
       'location', 'pets', 'smokes', 'language', 'new_languages',
       'body_profile', 'education_level', 'dropped_out', 'bio', 'interests',
       'other_interests', 'location_preference', '31_40', '41_50', '50+'],
      dtype='object')

In [34]:
data['drinks']=data['drinks'].apply(lambda x:'rarely' if x=='very often' else ('often' if x=='desperately' else x))

In [35]:
data['drugs']=data['drugs'].apply(lambda x: 'sometimes' if x=='often' else x)

In [36]:
dummies=pd.get_dummies(data[['drinks','drugs','orientation']],drop_first=True)
data=pd.concat([data,dummies],axis=1)
data=data.drop(['drinks','drugs','orientation'],axis=1)

In [37]:
data['job']=data['job'].apply(lambda x:'science / tech / engineering' if x=='computer / hardware / software'
                                       else('other' if (x=='rather not say' or x=='unemployed' or x=='retired' or x=='military' or
                                                       x=='transportation' or x=='political / government' or x=='clerical / administrative'
                                                       or x=='hospitality / travel'  or x=='construction / craftsmanship' or x=='law / legal services')
                                           else x)
                                       )
data['job']=data['job'].apply(lambda x:'other_job' if x=='other' else x)
dummies=pd.get_dummies(data['job'],drop_first=True)
data=pd.concat([data,dummies],axis=1)
data.drop('job',axis=1,inplace=True)

In [38]:
data['smokes']=data['smokes'].apply(lambda x: 'sometimes' if x=='when drinking' or x=='trying to quit' else x)

dummies=pd.get_dummies(data['smokes'],drop_first=True)
dummies=dummies.rename(columns={'sometimes':'smokes_sometimes','yes':'smokes_yes'})
data=pd.concat([data,dummies],axis=1)
data.drop('smokes',axis=1,inplace=True)

In [39]:
data['body_profile']=data['body_profile'].apply(lambda x:'skinny' if (x=='skinny' or x=='thin' or x=='used up')
                                                       else('athletic' if(x=='athletic' or x=='jacked') 
                                                       else('fit' if (x=='average' or x=='fit')
                                                       else('above average' if (x=='curvy' or x=='full figured' or x=='a little extra')else 'fat'))))

dummies=pd.get_dummies(data['body_profile'],drop_first=True)
data=pd.concat([data,dummies],axis=1)
data.drop('body_profile',axis=1,inplace=True)

In [40]:
data['status']=data['status'].apply(lambda x:'single' if x=='single' else 'other')

dummies=pd.get_dummies(data['status'],drop_first=True)
data=pd.concat([data,dummies],axis=1)
data.drop('status',axis=1,inplace=True)

In [41]:
data['interests']=data['interests'].apply(lambda x:'music' if x=='music' or x=='singinig' or x=='instruments' or x=='dance'
                                             else('artist' if x=='calligraphy' or x=='diy' or x=='painting' or x=='sketching' or x=='designing' or x=='craft' 
                                             else('game_video' if x=='video games' or x=='social_networking'
                                             else ('outdoor' if x=='fishing' or x=='sports' or x=='yoga' or x=='camping'
                                             else('movies' if x=='movies' or x=='acting' or x=='makeup'
                                             else ('read/write' if x=='reading' or x=='writting' else x))))))

dummies=pd.get_dummies(data['interests'],drop_first=True)
data=pd.concat([data,dummies],axis=1)
data.drop('interests',axis=1,inplace=True)

In [42]:
dummies=pd.get_dummies(data['dropped_out'],drop_first=True)
dummies=dummies.rename(columns={'yes':'dropped_out_yes'})
data=pd.concat([data,dummies],axis=1)
data.drop('dropped_out',axis=1,inplace=True)

In [43]:
dummies=pd.get_dummies(data['location_preference'],drop_first=True)
dummies=dummies.rename(columns={'same city':'location_same_city','same state':'location_same_state'})
data=pd.concat([data,dummies],axis=1)
data.drop('location_preference',axis=1,inplace=True)

In [44]:
# data['location']=data['location'].apply(lambda x: x.split(', ')[0])
# top_20_locations=data['location'].value_counts()[:20]
# top_20_locations

In [45]:
data['location']=data['location'].apply(lambda x: x.split(', ')[0])
top_20_locations=['san francisco','oakland','berkeley','san mateo','palo alto','san rafael','alameda','san leandro','redwood city','emeryville','daly city','walnut creek','hayward','pacifica','el cerrito','menlo park','martinez','benicia','richmond','burlingame']
data['location']=data['location'].apply(lambda x: x if x in top_20_locations else "location_other")
data['location'].value_counts()

san francisco     911
location_other    252
oakland           250
berkeley          146
san mateo         56
palo alto         45
san rafael        35
alameda           35
san leandro       33
redwood city      28
daly city         27
emeryville        27
walnut creek      24
hayward           21
pacifica          18
el cerrito        17
menlo park        16
burlingame        15
martinez          15
benicia           15
richmond          15
Name: location, dtype: int64

In [46]:
dummies=pd.get_dummies(data['location'])
dummies = dummies[['benicia', 'berkeley', 'burlingame', 'daly city', 'el cerrito',
       'emeryville', 'hayward', 'location_other', 'martinez', 'menlo park',
       'oakland', 'pacifica', 'palo alto', 'redwood city', 'richmond',
       'san francisco', 'san leandro', 'san mateo', 'san rafael',
       'walnut creek']]
data=pd.concat([data,dummies],axis=1)
data.drop('location',axis=1,inplace=True)

In [47]:
dummies

,benicia,berkeley,burlingame,daly city,el cerrito,emeryville,hayward,location_other,martinez,menlo park,oakland,pacifica,palo alto,redwood city,richmond,san francisco,san leandro,san mateo,san rafael,walnut creek
0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1998,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2000,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [48]:

def pet_encoding(x):
    if x=='likes dogs and likes cats':
        return [1,1,0,0,0,0]
    
    elif x=='likes dogs':
        return [1,0,0,0,0,0]
    
    elif x=='likes dogs and has cats':
        return [1,1,0,1,0,0]
    
    elif x=='has dogs':
        return [1,0,1,0,0,0]
    
    elif x=='has dogs and likes cats':
        return [1,1,1,0,0,0]
    
    elif x=='likes dogs and dislikes cats':
        return [1,0,0,0,0,1]
    
    elif x=='has dogs and has cats':
        return [1,1,1,1,0,0]
    
    elif x=='has cats':
        return [0,1,0,1,0,0]
    
    elif x=='likes cats':
        return [0,1,0,0,0,0]
    
    elif x=='has dogs and dislikes cats':
        return [1,0,1,0,0,1]
    
    elif x=='dislikes dogs and dislikes cats':
        return [0,0,0,0,1,1]
    
    elif x=='dislikes dogs and likes cats':
        return [0,1,0,0,1,0]
    
    elif x=='dislikes dogs':
        return [0,0,0,0,1,0]
    
    elif x=='dislikes dogs and has cats':
        return [0,1,0,1,1,0]
    
    elif x=='dislikes cats':
        return [0,0,0,0,0,1]
    else:
        print('Error'+x)

col_name=['likes dogs','likes cats','has dog','has cat','dislikes dogs','dislike cats']
for i in col_name:
    data[i]=''
for i in range(len(data['pets'])):
    
    #data[['likes dogs','likes cats','has dog','has cat','dislikes dogs','dislike cats']][i]=pet_encoding(data['pets'][i])
    results=pet_encoding(data['pets'][i])
   
    for j in range(len(results)):
        data[col_name[j]][i]=results[j]
    
    
    
    
#data[['likes dogs','likes cats','has dog','has cat','dislikes dogs','dislike cats']]=pet_encoding(i)

<ipython-input-48-f420f661be47>:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col_name[j]][i]=results[j]

In [49]:
# Imports

import numpy as np
import pandas as pd
import re 
import string
import nltk
from nltk.corpus import words, stopwords
import pickle 
# Setting options

pd.set_option('display.max_colwidth', -1)
nltk.download('stopwords')
nltk.download('words')

# Load stop words
stop_words = stopwords.words('english')
wordlist = words.words()

# Function for removing punctuation
def drop_punc(my_text):
    clean_text = re.sub('[%s]' % re.escape(string.punctuation), ' ', my_text)
    return clean_text


# Function for making all text lowercase
def lower(my_text):
    clean_text = my_text.lower()
    return clean_text

# Function for removing all numbers
def remove_numbers(my_text):
    clean_text = re.sub('\w*\d\w*', '', my_text)
    return clean_text


# Function for removing emojis
def deEmojify(inputString):
    return inputString.encode('ascii', 'ignore').decode('ascii')



def remove_stop(my_text):
    text_list = my_text.split()
    return ' '.join([word for word in text_list if word not in stop_words])

# Function for stripping whitespace
def my_strip(my_text):
    try: return my_text.strip()
    except Exception as e: return None
    

my_stop_words = ['mmmmm','im']

# Function for removing my stop words
def remove_my_stop(my_text):
    text_list = my_text.split()
    return ' '.join([word for word in text_list if word not in my_stop_words])


## to determine the language of the bio

# Function to detect english
def is_english(my_text):
    if my_text is None:
        return my_text
    text_list = my_text.split()
    english = 0
    non_english = 0
    for word in text_list:
        if word not in wordlist:
            non_english += 1
        else:
            english += 1
    if english > 0.25*non_english:
        return True
    else: return False

    
test = data.sample(50)

data['bio_cleaned'] = data['bio'].apply(lower).apply(drop_punc).apply(remove_numbers).apply(deEmojify)
data['bio_cleaned'] = data['bio_cleaned'].apply(remove_stop).apply(remove_my_stop)
data['bio_cleaned'] = data['bio_cleaned'].str.strip()

# Pickling the tokenized words and bigrams
with open("clean_data.pkl", "wb") as fp:
    pickle.dump(data, fp)


import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import TruncatedSVD, NMF
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import silhouette_score

from gensim import corpora, models, similarities, matutils
from sklearn.cluster import KMeans, DBSCAN
import os


corpus = pd.read_pickle('clean_data.pkl')
corpus.shape

import pandas as pd
import numpy as np
import seaborn as sns
import time
import matplotlib
from matplotlib import pyplot as plt
from joblib import dump, load

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import TruncatedSVD, NMF
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.manifold import TSNE
from sklearn.cluster import KMeans

from gensim import corpora, models, similarities, matutils


df = pd.read_pickle('clean_data.pkl')

vectorizer = CountVectorizer()
doc_word = vectorizer.fit_transform(df['bio_cleaned'])



tf_idf = TfidfVectorizer()
doc_word_tf_idf = tf_idf.fit_transform(df['bio_cleaned'])

word2vec = models.Word2Vec(df['bio_cleaned'], vector_size=100, window=5, min_count=1, workers=2, sg=1)

num_topics = 15

lsa = TruncatedSVD(num_topics)
doc_topic = lsa.fit_transform(doc_word_tf_idf)

topic_word = pd.DataFrame(lsa.components_.round(3),
             index = list(range(num_topics)),
             columns = vectorizer.get_feature_names())

def display_topics(model, feature_names, no_top_words, topic_names=None):
    for ix, topic in enumerate(model.components_):
        if not topic_names or not topic_names[ix]:
            print("\nTopic ", ix)
        else:
            print("\nTopic: '",topic_names[ix],"'")
        print(", ".join([feature_names[i]
                        for i in topic.argsort()[:-no_top_words - 1:-1]]))
        

Vt = pd.DataFrame(doc_topic.round(5),
             index = df['bio_cleaned'],
             columns = ['1', '2', '3', '4', '5', 
                        '6', '7', '8', '9', '10', 
                        '11', '12', '13', '14', '15'])

num_topics = 6

nmf_model = NMF(num_topics, random_state=42)
doc_topic_nmf = nmf_model.fit_transform(doc_word)

num_topics = 6

nmf_model_tf_idf = NMF(num_topics, random_state=42)
doc_topic_nmf_tf_idf = nmf_model_tf_idf.fit_transform(doc_word_tf_idf)


Vt_nmf = pd.DataFrame(doc_topic_nmf.round(5),
             index = df['bio_cleaned'],
             columns = ['Love', 'Travel', 'Friends', 'Fun', 'Humor', 'Music'])


topics = ['Knowing each other','Explore','Full of life','Fun Partner','Easy Going','Meeting new people']
def nmf_predict(vectorizer, model, text):
    text_vect = vectorizer.transform([text])
    result = model.transform(text_vect)
    return topics[np.argmax(result)]

df_w_labels = df.copy()


labels = []
for index, row in df.iterrows():
    x = nmf_predict(vectorizer=tf_idf, model=nmf_model_tf_idf, text = row['bio_cleaned'])
    labels.append(x)
    
    
df_w_labels['labels'] = labels


df_w_labels.to_pickle('df_w_labels.pkl')

data['bio_labels']=df_w_labels['labels']

<ipython-input-49-e0369c7f657b>:12: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\akadk\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\akadk\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

In [50]:
dummies=pd.get_dummies(data['bio_labels'],drop_first=True)
data=pd.concat([data,dummies],axis=1)
data.drop('bio_labels',axis=1,inplace=True)

In [51]:
data.columns

Index(['sex', 'height', 'pets', 'language', 'new_languages', 'education_level',
       'bio', 'other_interests', '31_40', '41_50', '50+', 'drinks_often',
       'drinks_rarely', 'drinks_socially', 'drugs_sometimes',
       'orientation_gay', 'orientation_straight',
       'banking / financial / real estate', 'education / academia',
       'entertainment / media', 'executive / management', 'medicine / health',
       'other_job', 'sales / marketing / biz dev',
       'science / tech / engineering', 'student', 'smokes_sometimes',
       'smokes_yes', 'athletic', 'fat', 'fit', 'skinny', 'single', 'astronomy',
       'collectibles', 'cooking', 'dancing', 'food', 'game_video', 'gardening',
       'movies', 'music', 'organising events', 'outdoor', 'photography',
       'politics', 'read/write', 'singing', 'studying', 'travelling',
       'dropped_out_yes', 'location_same_city', 'location_same_state',
       'benicia', 'berkeley', 'burlingame', 'daly city', 'el cerrito',
       'emeryville', 'hayward', 'location_other', 'martinez', 'menlo park',
       'oakland', 'pacifica', 'palo alto', 'redwood city', 'richmond',
       'san francisco', 'san leandro', 'san mateo', 'san rafael',
       'walnut creek', 'likes dogs', 'likes cats', 'has dog', 'has cat',
       'dislikes dogs', 'dislike cats', 'bio_cleaned', 'Explore',
       'Full of life', 'Fun Partner', 'Knowing each other',
       'Meeting new people'],
      dtype='object')

In [52]:
data.drop(['sex','height','pets','language','new_languages','bio','other_interests','bio_cleaned'],axis=1,inplace=True)

In [53]:
len(data.columns)

77

In [54]:
# remove this
train=pd.read_csv('PreprocessedData_withClusterLables.csv')
train.drop('Unnamed: 0',axis=1,inplace=True)
train.columns

Index(['education_level', 'drinks_often', 'drinks_rarely', 'drinks_socially',
       'drugs_sometimes', 'orientation_gay', 'orientation_straight',
       'banking / financial / real estate', 'education / academia',
       'entertainment / media', 'executive / management', 'medicine / health',
       'other_job', 'sales / marketing / biz dev',
       'science / tech / engineering', 'student', 'likes dogs', 'likes cats',
       'has dog', 'has cat', 'dislikes dogs', 'dislike cats',
       'smokes_sometimes', 'smokes_yes', 'athletic', 'fat', 'fit', 'skinny',
       'dropped_out_yes', 'location_same_city', 'location_same_state',
       'single', 'astronomy', 'collectibles', 'cooking', 'dancing', 'food',
       'game_video', 'gardening', 'movies', 'music', 'organising events',
       'outdoor', 'photography', 'politics', 'read/write', 'singing',
       'studying', 'travelling', 'benicia', 'berkeley', 'burlingame',
       'daly city', 'el cerrito', 'emeryville', 'hayward', 'location_other',
       'martinez', 'menlo park', 'oakland', 'pacifica', 'palo alto',
       'redwood city', 'richmond', 'san francisco', 'san leandro', 'san mateo',
       'san rafael', 'walnut creek', 'Explore', 'Full of life', 'Fun Partner',
       'Knowing each other', 'Meeting new people', '31_40', '41_50', '50+',
       'cluster_labels'],
      dtype='object')

In [55]:
# col_list=train.drop('cluster_labels',axis=1).columns
col_list=['education_level', 'drinks_often', 'drinks_rarely', 'drinks_socially',
       'drugs_sometimes', 'orientation_gay', 'orientation_straight',
       'banking / financial / real estate', 'education / academia',
       'entertainment / media', 'executive / management', 'medicine / health',
       'other_job', 'sales / marketing / biz dev',
       'science / tech / engineering', 'student', 'likes dogs', 'likes cats',
       'has dog', 'has cat', 'dislikes dogs', 'dislike cats',
       'smokes_sometimes', 'smokes_yes', 'athletic', 'fat', 'fit', 'skinny',
       'dropped_out_yes', 'location_same_city', 'location_same_state',
       'single', 'astronomy', 'collectibles', 'cooking', 'dancing', 'food',
       'game_video', 'gardening', 'movies', 'music', 'organising events',
       'outdoor', 'photography', 'politics', 'read/write', 'singing',
       'studying', 'travelling', 'benicia', 'berkeley', 'burlingame',
       'daly city', 'el cerrito', 'emeryville', 'hayward', 'location_other',
       'martinez', 'menlo park', 'oakland', 'pacifica', 'palo alto',
       'redwood city', 'richmond', 'san francisco', 'san leandro', 'san mateo',
       'san rafael', 'walnut creek', 'Explore', 'Full of life', 'Fun Partner',
       'Knowing each other', 'Meeting new people', '31_40', '41_50', '50+']

In [56]:
data1=data
data2=data[col_list]
len(data2.columns)

77

In [74]:
import pickle
import numpy as np
with open('logistic_regression_model.pkl', 'rb') as file:
    model = pickle.load(file)

# remove below test
test=data.iloc[5,:]
test=np.array(test).reshape((1,-1))
test
# Calculate the accuracy score and predict target values
# score = pickle_model.score(Xtest, Ytest)
# print("Test score: {0:.2f} %".format(100 * score))
# Ypredict = pickle_model.predict(Xtest)

array([[2.0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=object)

In [90]:
cluster_number=model.predict(test)
cluster_number=int(cluster_number)

3

In [78]:
# importing raw data with cluster labels for reccommendations
recc_data=pd.read_csv('Rawdata_withClusterLabels.csv')

In [94]:

# check gender and orientation and according to that send recommendation from cluster_number

recc_data=recc_data.loc[recc_data['cluster_labels']==cluster_number]
recc_data['cluster_labels']

2       3
4       3
5       3
20      3
25      3
       ..
1980    3
1990    3
1996    3
1997    3
2000    3
Name: cluster_labels, Length: 549, dtype: int64