In [1]:
#importing libraries
import pandas as pd

In [2]:
#importing dataset
data=pd.read_csv('data.csv')

In [3]:

data=data.drop(['username','user_id'],axis=1)

In [4]:
data['age']=data['age'].apply(lambda x: 58 if x>58 else x)

In [5]:
data['drinks']=data['drinks'].apply(lambda x:'rarely' if x=='very often' else ('often' if x=='desperately' else x))

In [6]:

data['drugs']=data['drugs'].apply(lambda x: 'sometimes' if x=='often' else x)

In [7]:
data.drop('sex',inplace=True,axis=1)

In [8]:
data.columns

Index(['age', 'status', 'orientation', 'drinks', 'drugs', 'height', 'job',
       'location', 'pets', 'smokes', 'language', 'new_languages',
       'body_profile', 'education_level', 'dropped_out', 'bio', 'interests',
       'other_interests', 'location_preference'],
      dtype='object')

In [9]:
dummies=pd.get_dummies(data[['drinks','drugs','orientation']],drop_first=True)
data=pd.concat([data,dummies],axis=1)
data=data.drop(['drinks','drugs','orientation'],axis=1)

In [10]:

data['job']=data['job'].apply(lambda x:'science / tech / engineering' if x=='computer / hardware / software'
                                       else('other' if (x=='rather not say' or x=='unemployed' or x=='retired' or x=='military' or
                                                       x=='transportation' or x=='political / government' or x=='clerical / administrative'
                                                       or x=='hospitality / travel'  or x=='construction / craftsmanship' or x=='law / legal services')
                                           else x)
                                       )

In [11]:
data['job']=data['job'].apply(lambda x:'other_job' if x=='other' else x)

In [12]:

dummies=pd.get_dummies(data['job'],drop_first=True)

In [13]:
data=pd.concat([data,dummies],axis=1)
data.drop('job',axis=1,inplace=True)

In [14]:
data['location']=data['location'].apply(lambda x: x.split(', ')[0])

In [15]:
#handling pets column
data['pets'].value_counts()
#can be summerised into 6 categories
'''
1.likes dogs
2.likes cats
3.has dog
4.has cat
5.dislike dogs
6.dislike cats
'''
#those who has dogs/cats obivously likes dogs/cats , so has dog/cat would also make 1 under likes dogs/cats category

'\n1.likes dogs\n2.likes cats\n3.has dog\n4.has cat\n5.dislike dogs\n6.dislike cats\n'

In [16]:

def pet_encoding(x):
    if x=='likes dogs and likes cats':
        return [1,1,0,0,0,0]
    
    elif x=='likes dogs':
        return [1,0,0,0,0,0]
    
    elif x=='likes dogs and has cats':
        return [1,1,0,1,0,0]
    
    elif x=='has dogs':
        return [1,0,1,0,0,0]
    
    elif x=='has dogs and likes cats':
        return [1,1,1,0,0,0]
    
    elif x=='likes dogs and dislikes cats':
        return [1,0,0,0,0,1]
    
    elif x=='has dogs and has cats':
        return [1,1,1,1,0,0]
    
    elif x=='has cats':
        return [0,1,0,1,0,0]
    
    elif x=='likes cats':
        return [0,1,0,0,0,0]
    
    elif x=='has dogs and dislikes cats':
        return [1,0,1,0,0,1]
    
    elif x=='dislikes dogs and dislikes cats':
        return [0,0,0,0,1,1]
    
    elif x=='dislikes dogs and likes cats':
        return [0,1,0,0,1,0]
    
    elif x=='dislikes dogs':
        return [0,0,0,0,1,0]
    
    elif x=='dislikes dogs and has cats':
        return [0,1,0,1,1,0]
    
    elif x=='dislikes cats':
        return [0,0,0,0,0,1]
    else:
        print('Error'+x)

col_name=['likes dogs','likes cats','has dog','has cat','dislikes dogs','dislike cats']
for i in col_name:
    data[i]=''
for i in range(len(data['pets'])):
    
    #data[['likes dogs','likes cats','has dog','has cat','dislikes dogs','dislike cats']][i]=pet_encoding(data['pets'][i])
    results=pet_encoding(data['pets'][i])
   
    for j in range(len(results)):
        data[col_name[j]][i]=results[j]
    
    
    
    
#data[['likes dogs','likes cats','has dog','has cat','dislikes dogs','dislike cats']]=pet_encoding(i)

<ipython-input-16-f420f661be47>:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col_name[j]][i]=results[j]

In [17]:
#dropping pets column
data.drop('pets',axis=1,inplace=True)

In [18]:
#merging 
data['smokes']=data['smokes'].apply(lambda x: 'sometimes' if x=='when drinking' or x=='trying to quit' else x)

In [19]:
dummies=pd.get_dummies(data['smokes'],drop_first=True)

In [20]:
dummies=dummies.rename(columns={'sometimes':'smokes_sometimes','yes':'smokes_yes'})

In [21]:

data=pd.concat([data,dummies],axis=1)

In [22]:
data.drop('smokes',axis=1,inplace=True)

In [23]:
#merging body profile to levels
data['body_profile']=data['body_profile'].apply(lambda x:'skinny' if (x=='skinny' or x=='thin' or x=='used up')
                                                       else('athletic' if(x=='athletic' or x=='jacked') 
                                                       else('fit' if (x=='average' or x=='fit')
                                                       else('above average' if (x=='curvy' or x=='full figured' or x=='a little extra')else 'fat'))))

In [24]:
dummies=pd.get_dummies(data['body_profile'],drop_first=True)
data=pd.concat([data,dummies],axis=1)

In [25]:
#handling column name - dropped out
dummies=pd.get_dummies(data['dropped_out'],drop_first=True)
dummies=dummies.rename(columns={'yes':'dropped_out_yes'})

In [26]:
data=pd.concat([data,dummies],axis=1)

In [27]:
data.drop('dropped_out',axis=1,inplace=True)

In [28]:
#handling location preference 
dummies=pd.get_dummies(data['location_preference'],drop_first=True)
dummies=dummies.rename(columns={'same city':'location_same_city','same state':'location_same_state'})

In [29]:
data=pd.concat([data,dummies],axis=1)
data.drop('location_preference',axis=1,inplace=True)

In [30]:
#merging status
data['status']=data['status'].apply(lambda x:'single' if x=='single' else 'Status_other')

In [31]:
#handlling status column
dummies=pd.get_dummies(data['status'],drop_first=True)

In [32]:
data=pd.concat([data,dummies],axis=1)
data.drop('status',axis=1,inplace=True)

In [33]:
#merging interest
data['interests']=data['interests'].apply(lambda x:'music' if x=='music' or x=='singinig' or x=='instruments' or x=='dance'
                                             else('artist' if x=='calligraphy' or x=='diy' or x=='painting' or x=='sketching' or x=='designing' or x=='craft' 
                                             else('game_video' if x=='video games' or x=='social_networking'
                                             else ('outdoor' if x=='fishing' or x=='sports' or x=='yoga' or x=='camping'
                                             else('movies' if x=='movies' or x=='acting' or x=='makeup'
                                             else ('read/write' if x=='reading' or x=='writting' else x))))))

In [34]:
dummies=pd.get_dummies(data['interests'],drop_first=True)

In [35]:
data=pd.concat([data,dummies],axis=1)
data.drop('interests',axis=1,inplace=True)

In [36]:
#language,other_interest and new lang not including in project ,, body profile already encoded
data.drop(['language','new_languages','body_profile','other_interests'],axis=1,inplace=True)

In [37]:
#handling location col
#top 20 locations contributing to 87% of total count so other than top 20 will be "other"
top_20_locations=data['location'].value_counts()[:20]

In [38]:
data['location']=data['location'].apply(lambda x: x if x in top_20_locations else "location_other")

In [39]:
# getting dummies of location columns
dummies=pd.get_dummies(data['location'],drop_first=True)

In [40]:
data=pd.concat([data,dummies],axis=1)
#dropping other interest and location colum
data.drop(['location'],axis=1,inplace=True)

# NLP Preprocessing on Bio column

In [41]:
# Imports

import numpy as np
import pandas as pd
import re 
import string
import nltk
from nltk.corpus import words, stopwords
import pickle 
# Setting options

pd.set_option('display.max_colwidth', -1)
nltk.download('stopwords')
nltk.download('words')

# Load stop words
stop_words = stopwords.words('english')
wordlist = words.words()

<ipython-input-41-554c2044b897>:12: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Siddhant\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\Siddhant\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

In [42]:
# Function for removing punctuation
def drop_punc(my_text):
    clean_text = re.sub('[%s]' % re.escape(string.punctuation), ' ', my_text)
    return clean_text

In [43]:
# Function for making all text lowercase
def lower(my_text):
    clean_text = my_text.lower()
    return clean_text

In [44]:
# Function for removing all numbers
def remove_numbers(my_text):
    clean_text = re.sub('\w*\d\w*', '', my_text)
    return clean_text

In [45]:
# Function for removing emojis
def deEmojify(inputString):
    return inputString.encode('ascii', 'ignore').decode('ascii')

In [46]:
# Function for removing stop words
def remove_stop(my_text):
    text_list = my_text.split()
    return ' '.join([word for word in text_list if word not in stop_words])

In [47]:
# Function for stripping whitespace
def my_strip(my_text):
    try: return my_text.strip()
    except Exception as e: return None

In [48]:
# Curated list of additional stop-words for this project
my_stop_words = ['mmmmm','im']

# Function for removing my stop words
def remove_my_stop(my_text):
    text_list = my_text.split()
    return ' '.join([word for word in text_list if word not in my_stop_words])

In [49]:
## to determine the language of the bio

# Function to detect english
def is_english(my_text):
    if my_text is None:
        return my_text
    text_list = my_text.split()
    english = 0
    non_english = 0
    for word in text_list:
        if word not in wordlist:
            non_english += 1
        else:
            english += 1
    if english > 0.25*non_english:
        return True
    else: return False

In [50]:
test = data.sample(50)

In [51]:
data['bio_cleaned'] = data['bio'].apply(lower).apply(drop_punc).apply(remove_numbers).apply(deEmojify)
data['bio_cleaned'] = data['bio_cleaned'].apply(remove_stop).apply(remove_my_stop)
data['bio_cleaned'] = data['bio_cleaned'].str.strip()

In [52]:
# Pickling the tokenized words and bigrams
#with open("clean_data.pkl", "wb") as fp:
 #   pickle.dump(data, fp)

In [53]:
# Clustering (Vectorize and cluster with Word2vec)
# imports
# !pip install gensim
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import TruncatedSVD, NMF
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import silhouette_score

from gensim import corpora, models, similarities, matutils
from sklearn.cluster import KMeans, DBSCAN
import os

C:\Users\Siddhant\anaconda3\lib\site-packages\gensim\similarities\__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)

In [54]:
# Read in data
corpus = pd.read_pickle('clean_data.pkl')
corpus.shape

(2001, 80)

In [55]:
# Check it out
corpus['bio_cleaned'].head(5)

0    bottom line love life work hard love hard earth drama free plan keep way want know ask woman loves women sometimes feel like nut sometimes femme side butch side love trying new things spend day helping people check list going love making people laugh open meeting new people dating point taking care heart rushing anything value communication open minded
1    straightforward genuine fun loving serious profile may make grounded guy bend backwards care pushover love simple things like night little spoon grabbing bite eat friends watching tv vegging friends decide something love active outdoors enjoying sun fresh air well filipino german hybrid identify pacific islander caucasian asian best way stick foot mouth calling asian also call hapa born raised california dark blonde hair knew right green eyes svelte dancer build enjoys cocktails non smoker doesnt drugs bottom include matter grand scheme relationship like topping sassy straightforward intelligent earth fun loving driven tactile sexual sensitive even though try hide genuine responsible loyal caring friendly cordial like people talk match ideal respond assume response conveys interest monosyllabic responses good indications interested looking fun many different forms platonic friends friends benefits dating relationship enjoy things cooking hanging friends watching movies dining social libating bars clubs outdoor activities road trips cuddling especially cuddling great big spoon giving massages bowling gourd art many things looking guys love life enjoy social look guy born male fluent english ages anyone really least taller american type looks anything goes long looks good find attractive slim muscular relative fitness level comparison mannerisms middle road masculine non smokers includes marijuana hookah okay drug users alcohol acceptable good kisser big spoon type take charge guy intelligent humorous affectionate highly sexual vers top total top deal breakers guys lie thier age stupid things like flakey guys guys smoke cigarettes marijuana illegal drugs guys women clothing guys wear makeup eyeliner mascara consealer gesticulate bad kissers bottom top passive general guys use girl refer another gay male among unwanted traits get gist please close hour car maybe hours looking pen pals please waste time messaging around bay area
2    yummy tacosss yoga love life part content person easy pleaser free spirit home body want good things world live every day normally get long people active favorite color pink prissy generally well people amount girls associate limited okay like cars ended friend wanted wanted share entertainment site mean use friends men life first bf second chinchilla nicco work go school spend much time world sounds okay message
3    stealth geek special mix technical obsession enough social awareness look like something revenge nerds hip knew self image would like project one somebody far cooler sort would love covered tattoos save fact explain portrait crazed charles bronson grandkids bicycle fixed gear folds half instead sport gigantic mustache hopes mistaken self confidence
4    whisper wind weaved curls crashing waves tide spit onto sands time left demise
Name: bio_cleaned, dtype: object

In [56]:
# imports

import pandas as pd
import numpy as np
import seaborn as sns
import time
import matplotlib
from matplotlib import pyplot as plt
from joblib import dump, load

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import TruncatedSVD, NMF
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.manifold import TSNE
from sklearn.cluster import KMeans

from gensim import corpora, models, similarities, matutils

In [57]:
# Read in data
df = pd.read_pickle('clean_data.pkl')

In [58]:
# Vectorize the words with CountVectorizer. This takes a parameter 'stopwords', which I have left out 
# because I took care of stopwords in my cleaning phase 

# CountVectorizer().fit_transform returns a matrix where rows correspond to observations (documents) and 
# columns correspond to the counts of words in each observation. There are as many columns as number of unique 
# words in all documents

vectorizer = CountVectorizer()
doc_word = vectorizer.fit_transform(df['bio_cleaned'])
#doc_word.shape

In [59]:
# TfidfVectorizer().fit_transform does something similar, but it computes the term frequency of a word with a document
# divided by the frequency of that word accross all documents. 
# Essentially, it is supposed to pick out words that are unique to a document as opposed to words that simply
# show up in many documents

tf_idf = TfidfVectorizer()
doc_word_tf_idf = tf_idf.fit_transform(df['bio_cleaned'])
#doc_word_tf_idf.shape

In [60]:
word2vec = models.Word2Vec(df['bio_cleaned'], vector_size=100, window=5, min_count=1, workers=2, sg=1)

In [61]:
# Use LSA to reduce dimensionality. I am going to guess we should use 15 TOPICS

# Acronynms: Latent Semantic Analysis (LSA) is just another name for 
# Signular Value Decomposition (SVD) applied to Natural Language Processing (NLP)

# in here, we can either input "doc_word" or "doc_word_tf_idf" to used different vectorized forms of our words

num_topics = 15

lsa = TruncatedSVD(num_topics)
doc_topic = lsa.fit_transform(doc_word_tf_idf)
lsa.explained_variance_ratio_

array([0.0067713 , 0.00562123, 0.00473948, 0.00446345, 0.00398142,
       0.00363887, 0.00346515, 0.00330676, 0.00306257, 0.00293037,
       0.00285923, 0.00279225, 0.00269117, 0.00260621, 0.0025406 ])

In [62]:
topic_word = pd.DataFrame(lsa.components_.round(3),
             index = list(range(num_topics)),
             columns = vectorizer.get_feature_names())
topic_word

,aa,aaa,aaaaand,aau,abandon,abandoned,abbey,abd,abducted,aber,...,zombies,zone,zoo,zookeeper,zooming,zoos,zu,zumba,zurich,zynga
0,0.000,0.000,0.000,0.001,0.000,0.000,0.001,0.000,0.000,0.0,...,0.001,0.005,0.000,0.000,0.000,0.001,0.000,0.001,0.001,0.000
1,0.000,-0.000,-0.001,0.003,-0.000,-0.001,-0.000,-0.000,0.000,-0.0,...,-0.001,-0.009,0.000,0.001,-0.000,-0.002,-0.001,-0.000,-0.000,-0.000
2,0.000,-0.001,-0.001,-0.001,-0.000,-0.002,-0.002,-0.001,0.000,-0.0,...,-0.001,0.002,0.000,-0.000,-0.000,-0.000,-0.001,-0.000,0.000,-0.001
3,0.001,0.000,-0.001,-0.001,0.000,-0.000,0.001,0.000,-0.000,0.0,...,0.002,-0.007,0.000,0.000,0.000,-0.001,0.000,0.001,0.000,0.000
4,-0.001,-0.001,0.001,-0.003,-0.000,-0.001,0.000,-0.000,-0.002,0.0,...,0.002,-0.004,0.001,-0.001,0.001,0.001,0.001,0.000,0.001,-0.000
5,-0.001,-0.001,-0.001,0.002,0.000,0.001,0.000,-0.000,-0.000,0.0,...,-0.003,0.017,-0.000,0.001,-0.002,-0.000,0.002,0.001,0.000,-0.000
6,-0.000,-0.001,0.001,0.005,0.000,0.000,0.001,-0.001,0.000,0.0,...,0.001,-0.001,0.001,-0.001,0.001,-0.000,0.001,-0.000,-0.000,0.001
7,-0.000,0.001,-0.001,-0.003,0.000,-0.001,-0.001,-0.000,-0.000,0.0,...,-0.006,0.006,0.001,0.001,0.001,-0.002,0.000,0.001,-0.001,-0.001
8,0.000,0.000,-0.000,0.003,0.001,0.001,-0.000,-0.001,-0.000,-0.0,...,0.000,-0.003,-0.001,0.000,0.003,-0.001,-0.001,-0.001,-0.001,0.001
9,-0.002,-0.001,-0.000,-0.002,-0.000,0.002,0.000,-0.000,-0.001,0.0,...,-0.003,-0.009,-0.000,-0.001,-0.001,0.002,0.002,0.001,-0.001,-0.000
10,0.000,0.000,-0.000,0.001,-0.000,-0.003,-0.000,-0.003,-0.001,0.0,...,-0.001,-0.000,-0.001,-0.000,0.000,0.002,0.000,0.001,-0.001,0.001
11,0.000,-0.000,0.000,0.004,-0.000,0.002,0.001,0.002,-0.001,0.0,...,-0.001,-0.008,0.000,0.002,-0.001,0.000,0.000,0.001,0.000,0.000
12,0.000,0.001,-0.001,-0.003,0.000,0.001,-0.000,0.001,-0.001,-0.0,...,-0.000,0.006,-0.002,0.001,0.002,0.002,-0.000,0.001,0.000,-0.000
13,-0.002,-0.001,0.002,-0.002,-0.001,0.000,-0.001,0.003,0.001,0.0,...,-0.007,-0.001,-0.000,-0.000,0.000,0.001,0.000,0.001,0.001,-0.001
14,-0.001,0.001,-0.000,0.001,-0.000,0.000,-0.001,0.002,0.000,-0.0,...,-0.001,0.005,-0.001,0.000,0.001,-0.000,-0.001,0.000,-0.001,-0.001

In [63]:
def display_topics(model, feature_names, no_top_words, topic_names=None):
    for ix, topic in enumerate(model.components_):
        if not topic_names or not topic_names[ix]:
            print("\nTopic ", ix)
        else:
            print("\nTopic: '",topic_names[ix],"'")
        print(", ".join([feature_names[i]
                        for i in topic.argsort()[:-no_top_words - 1:-1]]))

In [64]:
# Let's check out our topics!

#display_topics(lsa, vectorizer.get_feature_names(), 15)

In [65]:
# Check out the Vt matrix, to see how each document falls along the topics:

Vt = pd.DataFrame(doc_topic.round(5),
             index = df['bio_cleaned'],
             columns = ['1', '2', '3', '4', '5', 
                        '6', '7', '8', '9', '10', 
                        '11', '12', '13', '14', '15'])
#Vt.head()

In [66]:
font = {'family' : 'normal',
        'size'   : 22}

matplotlib.rcdefaults()
matplotlib.rc('font', **font)

In [67]:
# Use NMF to reduce dimensionality. NMF might be better because it doesn't require that the topic axes are 
# orthogonal

num_topics = 6

nmf_model = NMF(num_topics, random_state=42)
doc_topic_nmf = nmf_model.fit_transform(doc_word)

In [68]:
# Copy of the above cell but using tf_idf instead of count-vectorizer

num_topics = 6

nmf_model_tf_idf = NMF(num_topics, random_state=42)
doc_topic_nmf_tf_idf = nmf_model_tf_idf.fit_transform(doc_word_tf_idf)

In [69]:
# Check out the Vt matrix, to see how each document falls along the topics:

Vt_nmf = pd.DataFrame(doc_topic_nmf.round(5),
             index = df['bio_cleaned'],
             columns = ['Love', 'Travel', 'Friends', 'Fun', 'Humor', 'Music'])

In [70]:
# Let's look at the documents as represented within the topics
#Vt_nmf.sample(10)

In [71]:
#display_topics(nmf_model_tf_idf, tf_idf.get_feature_names(), 10)

In [72]:
# It seems like the best combination so far is NMF with TF-IDF.

# (1) Knowing each other (2) Moved out (3) Full of life (4) Fun Partner (5) Easy Going (6) Meeting new people
# Using NMF with CountVectorizer to classify documents
# Let's make a function for this

topics = ['Knowing each other','Explore','Full of life','Fun Partner','Easy Going','Meeting new people']
def nmf_predict(vectorizer, model, text):
    text_vect = vectorizer.transform([text])
    result = model.transform(text_vect)
    return topics[np.argmax(result)]

In [73]:
# Test it out!

#test = 'Since start I knew you wanted to talk something, there was some burden like thing you are carrying within you. You say freely I would listen to it, dont hold any hesitations, trust me.'

#nmf_predict(vectorizer=tf_idf, model=nmf_model_tf_idf, text = test)

In [74]:
# copy the dataframe
df_w_labels = df.copy()

In [75]:
#df.drop(df.iloc[:, 0:22], axis=1)
#df.head()

In [76]:
# get all the labels using the above function
labels = []
for index, row in df.iterrows():
    x = nmf_predict(vectorizer=tf_idf, model=nmf_model_tf_idf, text = row['bio_cleaned'])
    labels.append(x)

In [77]:
# assign the labels to a new column
df_w_labels['labels'] = labels

In [78]:
# check it out!
#df_w_labels.sample(20)

In [79]:
# Pickle the data so we can compare it with clusters
#df_w_labels.to_pickle('df_w_labels.pkl')

In [80]:
data.columns

Index(['age', 'height', 'education_level', 'bio', 'drinks_often',
       'drinks_rarely', 'drinks_socially', 'drugs_sometimes',
       'orientation_gay', 'orientation_straight',
       'banking / financial / real estate', 'education / academia',
       'entertainment / media', 'executive / management', 'medicine / health',
       'other_job', 'sales / marketing / biz dev',
       'science / tech / engineering', 'student', 'likes dogs', 'likes cats',
       'has dog', 'has cat', 'dislikes dogs', 'dislike cats',
       'smokes_sometimes', 'smokes_yes', 'athletic', 'fat', 'fit', 'skinny',
       'dropped_out_yes', 'location_same_city', 'location_same_state',
       'single', 'astronomy', 'collectibles', 'cooking', 'dancing', 'food',
       'game_video', 'gardening', 'movies', 'music', 'organising events',
       'outdoor', 'photography', 'politics', 'read/write', 'singing',
       'studying', 'travelling', 'benicia', 'berkeley', 'burlingame',
       'daly city', 'el cerrito', 'emeryville', 'hayward', 'location_other',
       'martinez', 'menlo park', 'oakland', 'pacifica', 'palo alto',
       'redwood city', 'richmond', 'san francisco', 'san leandro', 'san mateo',
       'san rafael', 'walnut creek', 'bio_cleaned'],
      dtype='object')

In [81]:
# removing bio and bio_cleaned from data and concatenating lables instead
data.drop(['bio','bio_cleaned'],axis=1,inplace=True)
data['bio_labels']=df_w_labels['labels']

In [82]:
data.columns

Index(['age', 'height', 'education_level', 'drinks_often', 'drinks_rarely',
       'drinks_socially', 'drugs_sometimes', 'orientation_gay',
       'orientation_straight', 'banking / financial / real estate',
       'education / academia', 'entertainment / media',
       'executive / management', 'medicine / health', 'other_job',
       'sales / marketing / biz dev', 'science / tech / engineering',
       'student', 'likes dogs', 'likes cats', 'has dog', 'has cat',
       'dislikes dogs', 'dislike cats', 'smokes_sometimes', 'smokes_yes',
       'athletic', 'fat', 'fit', 'skinny', 'dropped_out_yes',
       'location_same_city', 'location_same_state', 'single', 'astronomy',
       'collectibles', 'cooking', 'dancing', 'food', 'game_video', 'gardening',
       'movies', 'music', 'organising events', 'outdoor', 'photography',
       'politics', 'read/write', 'singing', 'studying', 'travelling',
       'benicia', 'berkeley', 'burlingame', 'daly city', 'el cerrito',
       'emeryville', 'hayward', 'location_other', 'martinez', 'menlo park',
       'oakland', 'pacifica', 'palo alto', 'redwood city', 'richmond',
       'san francisco', 'san leandro', 'san mateo', 'san rafael',
       'walnut creek', 'bio_labels'],
      dtype='object')

In [83]:
data['bio_labels'].value_counts()

Knowing each other    557
Explore               349
Easy Going            318
Full of life          304
Fun Partner           290
Meeting new people    183
Name: bio_labels, dtype: int64

In [84]:
# one hot encoding bio labels
dummies=pd.get_dummies(data['bio_labels'],drop_first=True)
dummies

,Explore,Full of life,Fun Partner,Knowing each other,Meeting new people
0,0,1,0,0,0
1,0,0,0,0,0
2,0,0,0,1,0
3,0,0,0,1,0
4,1,0,0,0,0
...,...,...,...,...,...
1996,0,0,0,0,0
1997,1,0,0,0,0
1998,1,0,0,0,0
1999,0,0,0,1,0
2000,0,1,0,0,0

In [85]:
data=pd.concat([data,dummies],axis=1)
#dropping bio_labels
data.drop(['bio_labels'],axis=1,inplace=True)
data.columns

Index(['age', 'height', 'education_level', 'drinks_often', 'drinks_rarely',
       'drinks_socially', 'drugs_sometimes', 'orientation_gay',
       'orientation_straight', 'banking / financial / real estate',
       'education / academia', 'entertainment / media',
       'executive / management', 'medicine / health', 'other_job',
       'sales / marketing / biz dev', 'science / tech / engineering',
       'student', 'likes dogs', 'likes cats', 'has dog', 'has cat',
       'dislikes dogs', 'dislike cats', 'smokes_sometimes', 'smokes_yes',
       'athletic', 'fat', 'fit', 'skinny', 'dropped_out_yes',
       'location_same_city', 'location_same_state', 'single', 'astronomy',
       'collectibles', 'cooking', 'dancing', 'food', 'game_video', 'gardening',
       'movies', 'music', 'organising events', 'outdoor', 'photography',
       'politics', 'read/write', 'singing', 'studying', 'travelling',
       'benicia', 'berkeley', 'burlingame', 'daly city', 'el cerrito',
       'emeryville', 'hayward', 'location_other', 'martinez', 'menlo park',
       'oakland', 'pacifica', 'palo alto', 'redwood city', 'richmond',
       'san francisco', 'san leandro', 'san mateo', 'san rafael',
       'walnut creek', 'Explore', 'Full of life', 'Fun Partner',
       'Knowing each other', 'Meeting new people'],
      dtype='object')

In [86]:
# Making age bins 
data['age_bins']=data['age'].apply(lambda x:'18-30' if x<=30 else('31_40' if x>30 and x <=40 else('41_50' if x>40 and x<=50 else '50+')))

In [87]:
dummies=pd.get_dummies(data['age_bins'],drop_first=True)

In [88]:
data=pd.concat([data,dummies],axis=1)
data.drop(['age','height'],axis=1,inplace=True)

In [89]:

data.drop('age_bins',axis=1,inplace=True)
data.columns

Index(['education_level', 'drinks_often', 'drinks_rarely', 'drinks_socially',
       'drugs_sometimes', 'orientation_gay', 'orientation_straight',
       'banking / financial / real estate', 'education / academia',
       'entertainment / media', 'executive / management', 'medicine / health',
       'other_job', 'sales / marketing / biz dev',
       'science / tech / engineering', 'student', 'likes dogs', 'likes cats',
       'has dog', 'has cat', 'dislikes dogs', 'dislike cats',
       'smokes_sometimes', 'smokes_yes', 'athletic', 'fat', 'fit', 'skinny',
       'dropped_out_yes', 'location_same_city', 'location_same_state',
       'single', 'astronomy', 'collectibles', 'cooking', 'dancing', 'food',
       'game_video', 'gardening', 'movies', 'music', 'organising events',
       'outdoor', 'photography', 'politics', 'read/write', 'singing',
       'studying', 'travelling', 'benicia', 'berkeley', 'burlingame',
       'daly city', 'el cerrito', 'emeryville', 'hayward', 'location_other',
       'martinez', 'menlo park', 'oakland', 'pacifica', 'palo alto',
       'redwood city', 'richmond', 'san francisco', 'san leandro', 'san mateo',
       'san rafael', 'walnut creek', 'Explore', 'Full of life', 'Fun Partner',
       'Knowing each other', 'Meeting new people', '31_40', '41_50', '50+'],
      dtype='object')

In [97]:
c_name = list(data)
c_name.sort()
c_name

['31_40',
 '41_50',
 '50+',
 'Explore',
 'Full of life',
 'Fun Partner',
 'Knowing each other',
 'Meeting new people',
 'astronomy',
 'athletic',
 'banking / financial / real estate',
 'benicia',
 'berkeley',
 'burlingame',
 'collectibles',
 'cooking',
 'daly city',
 'dancing',
 'dislike cats',
 'dislikes dogs',
 'drinks_often',
 'drinks_rarely',
 'drinks_socially',
 'dropped_out_yes',
 'drugs_sometimes',
 'education / academia',
 'education_level',
 'el cerrito',
 'emeryville',
 'entertainment / media',
 'executive / management',
 'fat',
 'fit',
 'food',
 'game_video',
 'gardening',
 'has cat',
 'has dog',
 'hayward',
 'likes cats',
 'likes dogs',
 'location_other',
 'location_same_city',
 'location_same_state',
 'martinez',
 'medicine / health',
 'menlo park',
 'movies',
 'music',
 'oakland',
 'organising events',
 'orientation_gay',
 'orientation_straight',
 'other_job',
 'outdoor',
 'pacifica',
 'palo alto',
 'photography',
 'politics',
 'read/write',
 'redwood city',
 'richmond',
 'sales / marketing / biz dev',
 'san francisco',
 'san leandro',
 'san mateo',
 'san rafael',
 'science / tech / engineering',
 'singing',
 'single',
 'skinny',
 'smokes_sometimes',
 'smokes_yes',
 'student',
 'studying',
 'travelling',
 'walnut creek']

In [91]:
import pickle
import numpy as np
with open('logistic_regression_model.pkl', 'rb') as file:
    model = pickle.load(file)

# remove below test
test=data.iloc[5,:]
test=np.array(test).reshape((1,-1))
test
# Calculate the accuracy score and predict target values
# score = pickle_model.score(Xtest, Ytest)
# print("Test score: {0:.2f} %".format(100 * score))
# Ypredict = pickle_model.predict(Xtest)

array([[2.0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=object)

In [92]:
cluster_number=model.predict(test)
cluster_number=int(cluster_number)

In [93]:
cluster_number

3

In [94]:
# importing raw data with cluster labels for reccommendations
# DB Values
recc_data=pd.read_csv('Rawdata_withClusterLabels.csv')

In [95]:
recc_data=recc_data.loc[recc_data['cluster_labels']==cluster_number]
recc_data['cluster_labels']

2       3
4       3
5       3
20      3
25      3
       ..
1980    3
1990    3
1996    3
1997    3
2000    3
Name: cluster_labels, Length: 549, dtype: int64

In [96]:
#Age Gender Oriantation Conditions

# Display Reccom