In [1]:
import pandas as pd
import mysql.connector
import numpy as np

## Load Data From DB as Raw

In [2]:
_conn = mysql.connector.connect(user='root',password='',host='localhost',database='matchmaking',port=3306)
_conn.autocommit = True
_crsr = _conn.cursor()

In [3]:
_crsr.execute("SELECT * FROM user_details where username = 'siddfulzele';")

In [4]:
Data = _crsr.fetchone()

In [5]:
print(Data)

(2002, 'siddfulzele', '22', 'single', 'm', 'straight', 'socially', 'never', '82', 'science / tech / engineering', 'san francisco', 'Likes Dogs', 'yes', 'fit', '5', 'no', 'love travel, love food, love wine, and love satisfying my curiosity.', 'Travelling', 'anywhere', 1)

In [8]:
db_column_names = ['user_id', 'username', 'age', 'status', 'sex', 'orientation', 'drinks', 'drugs', 'height', 'job', 'location', 'pets', 'smokes', 'body_profile', 'education_level', 'dropped_out', 'bio', 'interests', 'location_preference', 'cluster_labels']

In [9]:
column_names = db_column_names

In [10]:
column_names

['user_id',
 'username',
 'age',
 'status',
 'sex',
 'orientation',
 'drinks',
 'drugs',
 'height',
 'job',
 'location',
 'pets',
 'smokes',
 'body_profile',
 'education_level',
 'dropped_out',
 'bio',
 'interests',
 'location_preference',
 'cluster_labels']

In [11]:
#column_names.insert(0, 'user_id')

## Convert into DataFrame

In [12]:
data_list = list(Data)

In [13]:
print(len(column_names))
print(len(data_list))

20
20

In [14]:
data_dict = {}

In [15]:
for i in range(len(data_list)):
    data_dict[column_names[i]] = data_list[i]

In [16]:
data_dict

{'user_id': 2002,
 'username': 'siddfulzele',
 'age': '22',
 'status': 'single',
 'sex': 'm',
 'orientation': 'straight',
 'drinks': 'socially',
 'drugs': 'never',
 'height': '82',
 'job': 'science / tech / engineering',
 'location': 'san francisco',
 'pets': 'Likes Dogs',
 'smokes': 'yes',
 'body_profile': 'fit',
 'education_level': '5',
 'dropped_out': 'no',
 'bio': 'love travel, love food, love wine, and love satisfying my curiosity.',
 'interests': 'Travelling',
 'location_preference': 'anywhere',
 'cluster_labels': 1}

In [17]:
new_data = pd.DataFrame([data_dict])

In [18]:
new_data

,user_id,username,age,status,sex,orientation,drinks,drugs,height,job,location,pets,smokes,body_profile,education_level,dropped_out,bio,interests,location_preference,cluster_labels
0,2002,siddfulzele,22,single,m,straight,socially,never,82,science / tech / engineering,san francisco,Likes Dogs,yes,fit,5,no,"love travel, love food, love wine, and love sa...",Travelling,anywhere,1

## Preprocessing Start

In [19]:
data = pd.read_csv("../user_details.csv")

In [20]:
data

,user_id,username,age,status,sex,orientation,drinks,drugs,height,job,location,pets,smokes,body_profile,education_level,dropped_out,bio,interests,location_preference
0,1,Edith Lopez,27,single,f,gay,socially,never,66,medicine / health,"oakland, california",likes dogs and likes cats,no,athletic,4,no,bottom line i love life! i work hard and i lov...,sports,same state
1,2,Travis Young,26,single,m,gay,socially,never,68,other,"pleasant hill, california",likes dogs,no,fit,3,no,"i'm a straightforward, genuine, fun loving (i'...",painting,anywhere
2,3,Agnes Smith,20,seeing someone,f,bisexual,socially,sometimes,69,other,"oakland, california",has dogs and likes cats,sometimes,fit,2,no,mmmmm yummy tacosss. yoga is where it's at. i ...,instruments,same city
3,4,Salvador Klaver,27,single,m,bisexual,socially,sometimes,68,computer / hardware / software,"daly city, california",likes dogs and likes cats,no,average,3,no,i'm a stealth geek. that special mix of techni...,sketching,same city
4,5,Elana Sewell,22,single,f,bisexual,often,sometimes,68,other,"oakland, california",likes dogs and likes cats,yes,average,2,yes,with the whisper of the wind i was weaved into...,craft,same city
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,1997,Reynaldo Ellis,24,single,m,straight,socially,never,69,student,"oakland, california",likes dogs and likes cats,yes,average,2,no,i grew up playing instruments and singing and ...,craft,same city
1997,1998,Laura Adams,23,single,f,gay,socially,never,68,sales / marketing / biz dev,"san francisco, california",likes dogs and likes cats,no,athletic,2,no,im a 23 yr old female born and raised in color...,makeup,same state
1998,1999,Daniel Duran,28,single,m,straight,rarely,never,71,sales / marketing / biz dev,"pleasant hill, california",likes dogs,no,athletic,3,no,i've spent the last 10 years working in the ou...,singing,anywhere
1999,2000,Robert Orr,32,seeing someone,m,straight,not at all,never,68,other,"san francisco, california",likes dogs and likes cats,no,thin,3,no,"i am that i am. more and more, my spiritual l...",music,same city
2000,2001,Mildred Harwell,41,single,f,straight,socially,never,67,artistic / musical / writer,"oakland, california",has dogs,no,curvy,2,no,"love travel, love food, love wine and love sat...",movies,anywhere

In [21]:
new_data

,user_id,username,age,status,sex,orientation,drinks,drugs,height,job,location,pets,smokes,body_profile,education_level,dropped_out,bio,interests,location_preference,cluster_labels
0,2002,siddfulzele,22,single,m,straight,socially,never,82,science / tech / engineering,san francisco,Likes Dogs,yes,fit,5,no,"love travel, love food, love wine, and love sa...",Travelling,anywhere,1

In [22]:
new_data.drop(['cluster_labels'],axis=1,inplace=True)

In [23]:
data = data.append(new_data,ignore_index=True)

In [24]:
data.tail()

,user_id,username,age,status,sex,orientation,drinks,drugs,height,job,location,pets,smokes,body_profile,education_level,dropped_out,bio,interests,location_preference
1997,1998,Laura Adams,23,single,f,gay,socially,never,68,sales / marketing / biz dev,"san francisco, california",likes dogs and likes cats,no,athletic,2,no,im a 23 yr old female born and raised in color...,makeup,same state
1998,1999,Daniel Duran,28,single,m,straight,rarely,never,71,sales / marketing / biz dev,"pleasant hill, california",likes dogs,no,athletic,3,no,i've spent the last 10 years working in the ou...,singing,anywhere
1999,2000,Robert Orr,32,seeing someone,m,straight,not at all,never,68,other,"san francisco, california",likes dogs and likes cats,no,thin,3,no,"i am that i am. more and more, my spiritual l...",music,same city
2000,2001,Mildred Harwell,41,single,f,straight,socially,never,67,artistic / musical / writer,"oakland, california",has dogs,no,curvy,2,no,"love travel, love food, love wine and love sat...",movies,anywhere
2001,2002,siddfulzele,22,single,m,straight,socially,never,82,science / tech / engineering,san francisco,Likes Dogs,yes,fit,5,no,"love travel, love food, love wine, and love sa...",Travelling,anywhere

In [25]:
data.drop(['user_id','username','sex','height'],axis=1,inplace=True)

In [26]:
data

,age,status,orientation,drinks,drugs,job,location,pets,smokes,body_profile,education_level,dropped_out,bio,interests,location_preference
0,27,single,gay,socially,never,medicine / health,"oakland, california",likes dogs and likes cats,no,athletic,4,no,bottom line i love life! i work hard and i lov...,sports,same state
1,26,single,gay,socially,never,other,"pleasant hill, california",likes dogs,no,fit,3,no,"i'm a straightforward, genuine, fun loving (i'...",painting,anywhere
2,20,seeing someone,bisexual,socially,sometimes,other,"oakland, california",has dogs and likes cats,sometimes,fit,2,no,mmmmm yummy tacosss. yoga is where it's at. i ...,instruments,same city
3,27,single,bisexual,socially,sometimes,computer / hardware / software,"daly city, california",likes dogs and likes cats,no,average,3,no,i'm a stealth geek. that special mix of techni...,sketching,same city
4,22,single,bisexual,often,sometimes,other,"oakland, california",likes dogs and likes cats,yes,average,2,yes,with the whisper of the wind i was weaved into...,craft,same city
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1997,23,single,gay,socially,never,sales / marketing / biz dev,"san francisco, california",likes dogs and likes cats,no,athletic,2,no,im a 23 yr old female born and raised in color...,makeup,same state
1998,28,single,straight,rarely,never,sales / marketing / biz dev,"pleasant hill, california",likes dogs,no,athletic,3,no,i've spent the last 10 years working in the ou...,singing,anywhere
1999,32,seeing someone,straight,not at all,never,other,"san francisco, california",likes dogs and likes cats,no,thin,3,no,"i am that i am. more and more, my spiritual l...",music,same city
2000,41,single,straight,socially,never,artistic / musical / writer,"oakland, california",has dogs,no,curvy,2,no,"love travel, love food, love wine and love sat...",movies,anywhere
2001,22,single,straight,socially,never,science / tech / engineering,san francisco,Likes Dogs,yes,fit,5,no,"love travel, love food, love wine, and love sa...",Travelling,anywhere

In [27]:
data['education_level'] = data['education_level'].astype(str).astype(int)
data['age'] = data['age'].astype(str).astype(int)

In [28]:
data['age']=data['age'].apply(lambda x: 58 if x>58 else x)
data['age']=data['age'].apply(lambda x:'18-30' if x<=30 else('31_40' if x>30 and x <=40 else('41_50' if x>40 and x<=50 else '50+')))
dummies=pd.get_dummies(data['age'],drop_first=True)
data=pd.concat([data,dummies],axis=1)
data.drop('age',axis=1,inplace=True)

In [29]:
data['drinks']=data['drinks'].apply(lambda x:'rarely' if x=='very often' else ('often' if x=='desperately' else x))

In [30]:
data['drugs']=data['drugs'].apply(lambda x: 'sometimes' if x=='often' else x)

In [31]:
dummies=pd.get_dummies(data[['drinks','drugs','orientation']],drop_first=True)
data=pd.concat([data,dummies],axis=1)
data=data.drop(['drinks','drugs','orientation'],axis=1)

In [32]:
data['smokes']=data['smokes'].apply(lambda x: 'sometimes' if x=='when drinking' or x=='trying to quit' else x)

dummies=pd.get_dummies(data['smokes'],drop_first=True)
dummies=dummies.rename(columns={'sometimes':'smokes_sometimes','yes':'smokes_yes'})
data=pd.concat([data,dummies],axis=1)
data.drop('smokes',axis=1,inplace=True)

In [33]:
data['body_profile']=data['body_profile'].apply(lambda x:'skinny' if (x=='skinny' or x=='thin' or x=='used up')
                                                       else('athletic' if(x=='athletic' or x=='jacked') 
                                                       else('fit' if (x=='average' or x=='fit')
                                                       else('above average' if (x=='curvy' or x=='full figured' or x=='a little extra')else 'fat'))))

dummies=pd.get_dummies(data['body_profile'],drop_first=True)
data=pd.concat([data,dummies],axis=1)
data['body_profile'].value_counts()

fit              991
athletic         398
above average    332
skinny           246
fat               35
Name: body_profile, dtype: int64

In [34]:
data.drop('body_profile',axis=1,inplace=True)

In [35]:
data['status']=data['status'].apply(lambda x:'single' if x=='single' else 'other')

dummies=pd.get_dummies(data['status'],drop_first=True)
data=pd.concat([data,dummies],axis=1)
data.drop('status',axis=1,inplace=True)

In [36]:
data['interests'] = data['interests'].str.lower()
data['interests']=data['interests'].apply(lambda x:'music' if x=='music' or x=='singinig' or x=='instruments' or x=='dance'
                                             else('artist' if x=='calligraphy' or x=='diy' or x=='painting' or x=='sketching' or x=='designing' or x=='craft' 
                                             else('game_video' if x=='video games' or x=='social_networking'
                                             else ('outdoor' if x=='fishing' or x=='sports' or x=='yoga' or x=='camping'
                                             else('movies' if x=='movies' or x=='acting' or x=='makeup'
                                             else ('read/write' if x=='reading' or x=='writting' else x))))))

dummies=pd.get_dummies(data['interests'])
dummies.drop('artist',axis=1,inplace=True)
data=pd.concat([data,dummies],axis=1)
data['interests'].value_counts()

artist               357
music                243
outdoor              178
movies               162
read/write           152
game_video           133
politics             105
singing              101
photography           92
dancing               75
travelling            75
cooking               67
food                  60
gardening             48
studying              47
organising events     43
astronomy             37
collectibles          27
Name: interests, dtype: int64

In [37]:
data.drop('interests',axis=1,inplace=True)

In [38]:
dummies=pd.get_dummies(data['dropped_out'],drop_first=True)
dummies=dummies.rename(columns={'yes':'dropped_out_yes'})
data=pd.concat([data,dummies],axis=1)
data.drop('dropped_out',axis=1,inplace=True)

In [39]:
dummies=pd.get_dummies(data['location_preference'],drop_first=True)
dummies=dummies.rename(columns={'same city':'location_same_city','same state':'location_same_state'})
data=pd.concat([data,dummies],axis=1)
data.drop('location_preference',axis=1,inplace=True)

In [40]:
data['location']=data['location'].str.lower()
data['location']=data['location'].apply(lambda x: x.split(', ')[0])
top_20_locations=['san francisco','oakland','berkeley','san mateo','palo alto','san rafael','alameda','san leandro','redwood city','emeryville','daly city','walnut creek','hayward','pacifica','el cerrito','menlo park','martinez','benicia','richmond','burlingame']
data['location']=data['location'].apply(lambda x: x if x in top_20_locations else "location_other")
data['location'].value_counts()

san francisco     912
location_other    252
oakland           250
berkeley          146
san mateo          56
palo alto          45
san rafael         35
alameda            35
san leandro        33
redwood city       28
daly city          27
emeryville         27
walnut creek       24
hayward            21
pacifica           18
el cerrito         17
menlo park         16
benicia            15
martinez           15
burlingame         15
richmond           15
Name: location, dtype: int64

In [41]:
dummies=pd.get_dummies(data['location'])
dummies = dummies[['benicia', 'berkeley', 'burlingame', 'daly city', 'el cerrito',
       'emeryville', 'hayward', 'location_other', 'martinez', 'menlo park',
       'oakland', 'pacifica', 'palo alto', 'redwood city', 'richmond',
       'san francisco', 'san leandro', 'san mateo', 'san rafael',
       'walnut creek']]
data=pd.concat([data,dummies],axis=1)
data.drop('location',axis=1,inplace=True)

In [42]:
data['job']=data['job'].apply(lambda x:'science / tech / engineering' if x=='computer / hardware / software'
                                       else('other' if (x=='rather not say' or x=='unemployed' or x=='retired' or x=='military' or
                                                       x=='transportation' or x=='political / government' or x=='clerical / administrative'
                                                       or x=='hospitality / travel'  or x=='construction / craftsmanship' or x=='law / legal services')
                                           else x)
                                       )
data['job']=data['job'].apply(lambda x:'other_job' if x=='other' else x)
dummies=pd.get_dummies(data['job'])
dummies.drop('artistic / musical / writer',axis=1,inplace=True)
data=pd.concat([data,dummies],axis=1)
data['job'].value_counts()

other_job                            585
science / tech / engineering         320
student                              226
artistic / musical / writer          176
medicine / health                    158
sales / marketing / biz dev          156
education / academia                 131
executive / management                93
banking / financial / real estate     79
entertainment / media                 78
Name: job, dtype: int64

In [43]:
data.drop('job',axis=1,inplace=True)

In [44]:
data['pets'].value_counts()

likes dogs and likes cats          743
likes dogs                         303
likes dogs and has cats            229
has dogs                           184
has dogs and likes cats            148
likes dogs and dislikes cats       121
has dogs and has cats               87
has cats                            63
likes cats                          59
has dogs and dislikes cats          24
dislikes dogs and dislikes cats     17
dislikes dogs and likes cats         9
dislikes cats                        5
dislikes dogs                        5
dislikes dogs and has cats           4
Likes Dogs                           1
Name: pets, dtype: int64

In [45]:
def pet_encoding(x):
    if x=='likes dogs and likes cats':
        return [1,1,0,0,0,0]
    
    elif x=='likes dogs':
        return [1,0,0,0,0,0]
    
    elif x=='likes dogs and has cats':
        return [1,1,0,1,0,0]
    
    elif x=='has dogs':
        return [1,0,1,0,0,0]
    
    elif x=='has dogs and likes cats':
        return [1,1,1,0,0,0]
    
    elif x=='likes dogs and dislikes cats':
        return [1,0,0,0,0,1]
    
    elif x=='has dogs and has cats':
        return [1,1,1,1,0,0]
    
    elif x=='has cats':
        return [0,1,0,1,0,0]
    
    elif x=='likes cats':
        return [0,1,0,0,0,0]
    
    elif x=='has dogs and dislikes cats':
        return [1,0,1,0,0,1]
    
    elif x=='dislikes dogs and dislikes cats':
        return [0,0,0,0,1,1]
    
    elif x=='dislikes dogs and likes cats':
        return [0,1,0,0,1,0]
    
    elif x=='dislikes dogs':
        return [0,0,0,0,1,0]
    
    elif x=='dislikes dogs and has cats':
        return [0,1,0,1,1,0]
    
    elif x=='dislikes cats':
        return [0,0,0,0,0,1]
    else:
        print('Error'+x)

col_name=['likes dogs','likes cats','has dog','has cat','dislikes dogs','dislike cats']
for i in col_name:
    data[i]=''
for i in range(len(data['pets'])):
    results=pet_encoding(data['pets'][i].lower())
   
    for j in range(len(results)):
        data[col_name[j]][i]=results[j]
data.drop('pets',axis=1,inplace=True)

<ipython-input-45-667cad8382ec>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col_name[j]][i]=results[j]

### Bio

In [46]:
last_row = data.tail(1)

In [47]:
last_row

,education_level,bio,31_40,41_50,50+,drinks_often,drinks_rarely,drinks_socially,drugs_sometimes,orientation_gay,...,other_job,sales / marketing / biz dev,science / tech / engineering,student,likes dogs,likes cats,has dog,has cat,dislikes dogs,dislike cats
2001,5,"love travel, love food, love wine, and love sa...",0,0,0,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0

In [48]:
import re 
import string
import nltk
from nltk.corpus import words, stopwords
import pickle 
# Setting options

pd.set_option('display.max_colwidth', -1)
nltk.download('stopwords')
nltk.download('words')

# Load stop words
stop_words = stopwords.words('english')
wordlist = words.words()

<ipython-input-48-0f82fd0a7151>:8: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Siddhant\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\Siddhant\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

In [49]:
# Function for removing punctuation
def drop_punc(my_text):
    clean_text = re.sub('[%s]' % re.escape(string.punctuation), ' ', my_text)
    return clean_text

# Function for making all text lowercase
def lower(my_text):
    clean_text = my_text.lower()
    return clean_text

# Function for removing all numbers
def remove_numbers(my_text):
    clean_text = re.sub('\w*\d\w*', '', my_text)
    return clean_text

# Function for removing emojis
def deEmojify(inputString):
    return inputString.encode('ascii', 'ignore').decode('ascii')

# Function for removing stop words
def remove_stop(my_text):
    text_list = my_text.split()
    return ' '.join([word for word in text_list if word not in stop_words])

# Function for stripping whitespace
def my_strip(my_text):
    try: return my_text.strip()
    except Exception as e: return None

# Curated list of additional stop-words for this project

# Function for removing my stop words
def remove_my_stop(my_text):
    my_stop_words = ['mmmmm','im']
    text_list = my_text.split()
    return ' '.join([word for word in text_list if word not in my_stop_words])

## to determine the language of the bio

# Function to detect english
def is_english(my_text):
    if my_text is None:
        return my_text
    text_list = my_text.split()
    english = 0
    non_english = 0
    for word in text_list:
        if word not in wordlist:
            non_english += 1
        else:
            english += 1
    if english > 0.25*non_english:
        return True
    else: return False

In [50]:
last_row['bio_cleaned'] = last_row['bio'].apply(lower).apply(drop_punc).apply(remove_numbers).apply(deEmojify)
last_row['bio_cleaned'] = last_row['bio_cleaned'].apply(remove_stop).apply(remove_my_stop)
last_row['bio_cleaned'] = last_row['bio_cleaned'].str.strip()

<ipython-input-50-23d4e8925a94>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_row['bio_cleaned'] = last_row['bio'].apply(lower).apply(drop_punc).apply(remove_numbers).apply(deEmojify)
<ipython-input-50-23d4e8925a94>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_row['bio_cleaned'] = last_row['bio_cleaned'].apply(remove_stop).apply(remove_my_stop)
<ipython-input-50-23d4e8925a94>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_row['bio_cleaned'] = last_row['bio_cleaned'].str.strip()

In [51]:
last_row

,education_level,bio,31_40,41_50,50+,drinks_often,drinks_rarely,drinks_socially,drugs_sometimes,orientation_gay,...,sales / marketing / biz dev,science / tech / engineering,student,likes dogs,likes cats,has dog,has cat,dislikes dogs,dislike cats,bio_cleaned
2001,5,"love travel, love food, love wine, and love satisfying my curiosity.",0,0,0,0,0,1,0,0,...,0,1,0,1,0,0,0,0,0,love travel love food love wine love satisfying curiosity

In [52]:
topics = ['Knowing each other','Explore','Full of life','Fun Partner','Easy Going','Meeting new people']
def nmf_predict(text):
    with open('NewData_processing_prediction/nmf_model_tf_idf.pkl', 'rb') as file:
        nmf_model_tf_idf = pickle.load(file)

    with open('NewData_processing_prediction/tf_idf.pkl', 'rb') as file:
        tf_idf = pickle.load(file)    
    text_vect = tf_idf.transform([text])
    result = nmf_model_tf_idf.transform(text_vect)
    return topics[np.argmax(result)]

In [53]:
test_bio = list(last_row['bio_cleaned'])[0]

In [54]:
test_bio

'love travel love food love wine love satisfying curiosity'

In [55]:
bio_label = nmf_predict(text=test_bio)
bio_label

'Full of life'

In [56]:
temp = pd.DataFrame(np.zeros(shape=(1,len(topics))), columns = topics)

In [57]:
for x in topics:
    if bio_label == x:
        temp[x] = 1

In [58]:
temp

,Knowing each other,Explore,Full of life,Fun Partner,Easy Going,Meeting new people
0,0.0,0.0,1,0.0,0.0,0.0

In [59]:
temp.drop(['Easy Going'],axis=1,inplace=True)

In [60]:
temp.index = last_row.index

In [61]:
final_row = pd.concat([last_row,temp],axis=1)

In [62]:
final_row

,education_level,bio,31_40,41_50,50+,drinks_often,drinks_rarely,drinks_socially,drugs_sometimes,orientation_gay,...,has dog,has cat,dislikes dogs,dislike cats,bio_cleaned,Knowing each other,Explore,Full of life,Fun Partner,Meeting new people
2001,5,"love travel, love food, love wine, and love satisfying my curiosity.",0,0,0,0,0,1,0,0,...,0,0,0,0,love travel love food love wine love satisfying curiosity,0.0,0.0,1,0.0,0.0

In [63]:
final_row.drop(['bio','bio_cleaned'],axis=1,inplace=True)

In [64]:
with open('modelling/logistic_regression_model.pkl', 'rb') as file:
    model = pickle.load(file)

In [65]:
test=final_row.iloc[0,:]
test=np.array(test).reshape((1,-1))
test

array([[5, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        1, 0, 0, 0, 0, 0, 0.0, 0.0, 1, 0.0, 0.0]], dtype=object)

In [66]:
cluster_number=model.predict(test)
cluster_number=int(cluster_number)

In [67]:
cluster_number

1

In [95]:
new_data['cluster_labels'] = cluster_number
new_data['age'] = new_data['age'].astype(str).astype(int)
new_data

,user_id,username,age,status,sex,orientation,drinks,drugs,height,job,location,pets,smokes,body_profile,education_level,dropped_out,bio,interests,location_preference,cluster_labels
0,2002,siddfulzele,22,single,m,straight,socially,never,82,science / tech / engineering,san francisco,Likes Dogs,yes,fit,5,no,"love travel, love food, love wine, and love satisfying my curiosity.",Travelling,anywhere,1

In [108]:
row = list(new_data.iloc[0,:])

In [109]:
type(row)

list

In [80]:
old_data=pd.read_csv('../user_details_Labels.csv')

In [82]:
recc_data=old_data[old_data['cluster_labels']==cluster_number]

In [83]:
recc_data

,user_id,username,age,status,sex,orientation,drinks,drugs,height,job,location,pets,smokes,body_profile,education_level,dropped_out,bio,interests,location_preference,cluster_labels
6,7,Dorothy Brown,41,single,f,gay,rarely,sometimes,61,artistic / musical / writer,"oakland, california",has dogs,no,curvy,3,no,"i'm a sweet gal with a big heart and a sharp sense of humor. i wish i had a talk show. i'm direct, communicative, and generous. i will notice your little quirks and affectionately tease you about them. you can count on me to pick you up at the airport (an underrated experience that usually results in getting a free meal). i like women who are smart, funny, grounded, passionate about what they do, know themselves well, and femme of center. i'm a sucker for banter - but ultimately - i'm looking for a nice girl who wants a relationship.",photography,same city,1
7,8,James Coatney,44,single,m,straight,socially,never,69,banking / financial / real estate,"oakland, california",likes dogs and likes cats,no,a little extra,3,no,this is me. ok ok more to it than that but i can't think of any adjectives at the moment other than clever and humble.,instruments,same city,1
8,9,Jimmie Cole,24,single,m,gay,socially,never,68,education / academia,"oakland, california",likes dogs,sometimes,a little extra,3,no,"recent uc davis grad from the central valley, but loves living in the bay chill, carefree, laid back, goes with the flow type of guy low key, but likes to live it up whenever i can oh yea! my name is mario btw :-)",designing,same city,1
13,14,Claudine Shreve,33,single,f,straight,socially,never,65,other,"san francisco, california",has dogs,no,a little extra,4,no,"i'm a mixed bag of nuts! i'm outgoing yet shy when i first meet people. i grew up in sf but i love the outdoors, the country and the burbs. i'm checking this site out because i've heard good things about it- looking to meet new people. i am fun loving, loyal, and sweet",singing,same city,1
17,18,Dorothy Oneal,26,single,f,straight,rarely,never,65,student,"palo alto, california",likes dogs and likes cats,no,curvy,3,no,"i'm an outgoing, quirky, jewish girl who loves to laugh. my friends and family are very important to me. i love family dinners, movies, sleeping in, cooking, campy sci-fiction shows, bollywood, and learning about different cultures. i'm earning my masters in special education. i find libraries to be like spas, and i love old buildings. i'm love shaking my booty in bollywood dance classes, but severely i lack coordination. i constantly think i can do anything in five minutes, get ready, cook a meal...not possible. my jewish heritage is important to me and i hope to one day pass it on. i go to torah study (bible study) every week, might as well learn about my peeps. i'm very easy going...do not like drama.",instruments,same city,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988,1989,Tiffany Villanueva,46,single,f,straight,socially,never,67,executive / management,"san francisco, california",likes dogs and has cats,no,athletic,3,no,"i'm pretty laid-back and active in a variety of the typical hobbies and what-not. nothing too extreme. low drama, generally speaking, with a strong network of friends. the network is lacking in the area of single and age-appropriate men, which is the problem.",fishing,same city,1
1992,1993,Erik Tillman,30,available,m,straight,socially,never,73,student,"berkeley, california",likes dogs and likes cats,no,thin,3,no,"i've decided to re-write this whole thing, which is kind of an undertaking. i'll be filling it in piecemeal as time and energy permit. in the meantime, placeholders! (and endless grammar edits)",photography,anywhere,1
1993,1994,Rick Riendeau,23,single,m,gay,socially,sometimes,71,artistic / musical / writer,"san francisco, california",likes dogs and likes cats,when drinking,thin,3,no,"i'm pretty down to earth / pretty far out there...i have a strong head on my shoulders and i try my best to keep my outlook and mentality healthy. turn ons: sincerity, enthusiasm, ambition, intelligence, honesty, curiosity! turn offs: wallowing in boredom, excessive self-deprecation, lack of ambition, homophobes",reading,same city,1
1998,1999,Daniel Duran,28,single,m,straight,rarely,never,71,sales / marketing / biz dev,"pleasant hill, california",likes dogs,no,athletic,3,no,"i've spent the last 10 years working in the outdoor industry, mainly devoting all my time to climbing. its been awesome, great people, cool places, fun times. recently i have been trying to branch back out into the sports i loved growing up and diversify my outdoor time again. snowboarding, biking, running, etc. i don't usually just sit around. i like working with my hands and building things, mainly small home projects to improve the place i live. current project is trying to make a big garden in the backyard, but its a work in progress so it will be awhile before we see if i have a green thumb or not. i volunteer with a high school youth program called youth & government and besides being fun the kids are a constant source of entertainment. i also love dogs, but travel to much to have one and although i eat healthy i could eat pizza for every meal if it needed to be done.",singing,anywhere,1
1999,2000,Robert Orr,32,seeing someone,m,straight,not at all,never,68,other,"san francisco, california",likes dogs and likes cats,no,thin,3,no,"i am that i am. more and more, my spiritual life is being in and with whatever is going on with acceptance. i feel my experience as fully as possible and am finding more space for both light and shadow to hang out together. i'm also a personal growth junkie. i am part cat, part tree, all human. touch, cuddling, and sexuality nourish me deeply. i am comfortable and enjoy an abundance of all three. at the same time, i seek true intimacy, which i've found requires accepting all of oneself and another, boundaries and all. i was born in the high desert. while i still have much affinity for places where the soul can go unbound, i like to have more green around and to grow things without feeling like i'm killing the water table. a good friend once told me that i ask a lot from life. i live deeply. i've spent a year hiking with teenagers in the utah desert. i lived for two years in malawi, africa working with subsistence farmers. i was a permaculture teacher at a raw food welness center. i've been around the world. i'm a twin. i can sometimes come across more as a friend than a romantic interest at first. it's just my way of being shy.",music,same city,1

In [112]:
if row[2]<=30:
    recc_data=recc_data[recc_data['age']<=30]
    
elif row[2]>30 and row[2]<=40: 
    recc_data=recc_data[recc_data['age']>30 and recc_data['age']<=40]

elif row[2]>41 and row[2]<=50: 
    recc_data=recc_data[recc_data['age']>41 and recc_data['age']<=50]

else:
    recc_data=recc_data[recc_data['age']>=50]
    

if row[5]!='bisexual':
    if row[5]=='gay':
        recc_data=recc_data[recc_data['sex']==row[4]]
    elif row[5]=='straight':
        recc_data=recc_data[recc_data['sex']!=row[4]]

In [113]:
recc_data

,user_id,username,age,status,sex,orientation,drinks,drugs,height,job,location,pets,smokes,body_profile,education_level,dropped_out,bio,interests,location_preference,cluster_labels
17,18,Dorothy Oneal,26,single,f,straight,rarely,never,65,student,"palo alto, california",likes dogs and likes cats,no,curvy,3,no,"i'm an outgoing, quirky, jewish girl who loves to laugh. my friends and family are very important to me. i love family dinners, movies, sleeping in, cooking, campy sci-fiction shows, bollywood, and learning about different cultures. i'm earning my masters in special education. i find libraries to be like spas, and i love old buildings. i'm love shaking my booty in bollywood dance classes, but severely i lack coordination. i constantly think i can do anything in five minutes, get ready, cook a meal...not possible. my jewish heritage is important to me and i hope to one day pass it on. i go to torah study (bible study) every week, might as well learn about my peeps. i'm very easy going...do not like drama.",instruments,same city,1
22,23,Myrtle Makhija,22,single,f,straight,socially,never,63,student,"palo alto, california",likes dogs and has cats,no,thin,4,no,"i am generally a little quiet and nerdy, but friendly. i'm also a dance-aholic (blues, salsa, and west coast swing primarily), care to join me?",makeup,anywhere,1
27,28,Mavis Martinez,25,single,f,straight,rarely,never,67,clerical / administrative,"hayward, california",has dogs and likes cats,no,full figured,3,no,"currently trying to figure out where to go and what to see for the fourth. yay for being new around here? after trying a few times to start out this 'summary' with something other than a cliche, let's go with this: - i consider my weeks penance for my weekends. - the moment i get off of work on friday, i turn the music up in my mini, and rock out until i'm in the best mood i can be in. - some days i feel cuter than others, and i'm pretty sure that's normal. - tardiness is my biggest pet peeve. - i've been applauded for pronouncing 'niche' correctly in a presentation. - my hair is usually boring-brown, but i've recently-ish decided that dark red with highlights is my preferred color. - i'm rarely around on weekends; if i don't have something to do, or somewhere to explore, i get melancholy. - i've recently learned that i like shooting guns. and that i'm a decent shot. next on the list is to see how awesome an archer i am.",music,same city,1
38,39,Frances Hale,28,single,f,straight,socially,never,71,banking / financial / real estate,"san francisco, california",likes dogs and likes cats,no,thin,3,no,"originally from the east coast, i've lived in sf for about 2 years. wanting to meet new people! sense of humor is the thing i appreciate most, i know it may be cliche to say it. i'm very sarcastic and prefer not to hide it!",music,same city,1
42,43,Dara Geathers,24,single,f,straight,socially,never,68,other,"san francisco, california",likes dogs,no,athletic,3,no,"i love to travel, laugh, explore, and lounge around.",sketching,same city,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1859,1860,Sue Gonzalez,26,single,f,bisexual,socially,never,70,other,"san francisco, california",likes dogs and likes cats,no,a little extra,4,no,"i'm a 26-year-old recent law school grad who has no idea where her life is headed. hopefully it involves some kind of legal career and some novels along the way. i'm also transgender--that's kind of important to note near the top of my profile, isn't it? it's a big part of me (and especially will be for the next few years), but i try not to let it completely define who i am. i'm female, and i'm trans, but i'm also a liberal, a writer, a gamer, an atheist, and an individualist--just to list a few things. plus, i want to change the world. even if that seems selfish to you, i make no apologies for it. i'm proud of who i am.",music,anywhere,1
1883,1884,Lizzie Ellison,27,single,f,straight,socially,never,66,science / tech / engineering,"palo alto, california",likes dogs and likes cats,no,athletic,3,no,"well, i joined this site mostly because i've come to know success stories from personal friends...but also because i'm curious :) if i were to give an overall description, it would be: -tall for an asian girl -curvy but fit, athletic -long hair, big eyes ...but i'd say personality fit/compatibility trumps all =p i'm a firm believer of kindness towards all (most important of all!!), the courage to dream, and working hard towards one's goals; i'm witty, well-educated, ambitious, a sports lover...and i'm always curious to try learning new things, eating exotic cuisine, traveling to new places...exploring sf!",studying,same city,1
1891,1892,Cheryl Edwards,28,single,f,straight,socially,never,67,other,"san leandro, california",likes dogs and has cats,when drinking,a little extra,3,no,first off let me say this i am not your average chick. i don't like pink. i am a t shirt and jeans girl. i will only wear a dress for the right person at the right time. im not a fan of shopping. i do love to browse but if i don't really need it i won't buy it. books and music that a totally different story if i like it and i don't have it i will most likely buy it. i don't mind going to sci-fi anime or comic conventions to me they're actually quite fun but ill be honest i know very little about the subjects listed above. i don't mind video games i just don't play them and prefer they don't become third party. i like going to baseball games(by the way i'm a giants fan). but i don't mind going to a's games(i have family who are a's fans) or even the dodgers (my bff and some of family are fans). i love being able to go and explore different cities. i love food all types and i love trying different foods. i'm a huge fan of food trucks. i love movies of all genres. i love art of all types. i work in retail not because of what i do but because i am a people person and i like making other people happy at my job. something people get surprised about is i don't drive. not because i don't want to but because i haven't needed one until well now. i do go workout 2 to 3 times a week.,writting,same city,1
1926,1927,Pamelia Falcon,28,single,f,straight,socially,never,66,artistic / musical / writer,"oakland, california",likes dogs and likes cats,no,full figured,3,no,"just got settled in oakland working as a studio assistant to a local artist at his up and coming art space. loving it. i am a creative, natural, down to earth girl looking to find someone to share my time with.",painting,anywhere,1
1979,1980,Guadalupe Nicholson,27,single,f,straight,socially,never,66,medicine / health,"san francisco, california",likes dogs and likes cats,no,athletic,3,no,"i am looking for a relationship that makes both of our lives better. i know what i like and i hope you do too. i am from the mid-west originally (mn/wi) and i moved to sf eight years ago. people have described me as a bubbly, silly, positive, organized, determined, focused and sweet kind of person. in my profile, i mention a lot of activities that i like to do because i feel like they are nice conversation starters. i am looking to meet someone who is strong where i am weak and is weak where i am strong. i am not looking for someone just like myself. i think that it is best to have common interests, goals and desires but have different strengths to contribute to the team/relationship. i am looking for a well rounded relationship. a person that i can trust. a person that is supportive. a person who is easy going/down to earth and at the same time ambitious. and there is so much more to find out over dinner and drinks...",movies,same city,1